# Keil Clean
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
*.axf
*.bin
*.hex


# CMake build output
build-debug/

#JLINK file
JLinkLog.txt
*.dbgconf

#CMSIS-DAP debug logs
*.log

#Vscode file
*.json
.vscode

#clangd
.cache

#EIDE file 
build
*.clang-format
.cmsis
.eide
*.code-workspace
